* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bgColor: hsl(47, 88%, 63%);
  --blkColor: hsl(0, 0%, 7%);
  --graycolor: hsl(0, 0%, 50%) '';
}

body {
  background-color: var(--bgColor);
  font-family: 'Figtree', sans-serif;
  font-size: 16px;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  width: 380px;
  background-color: #fff;
  padding: 20px;
  border-radius: 20px;
  border: 2px solid var(--blkColor);

  box-shadow: 8px 10px 0px 0px var(--blkColor);
  transition: box-shadow 0.5s;
}

.card:hover {
  box-shadow: 14px 14px;
  cursor: pointer;
}

.card:hover .content .title {
  color: var(--bgColor);
}

.card .header .thumbnail {
  border-radius: 12px;
}

.card .header .about {
  margin-top: 1rem;
  font-size: 14px;
}

.card .header .about .tag {
  background-color: var(--bgColor);
  font-weight: 800;
  border-radius: 4px;
  padding: 4px 12px;
}

.card .header .about .published-date {
  margin-top: 1rem;
  font-weight: 600;
}

.content,
.content p {
  margin-top: 1rem;
}

.content .title {
  font-weight: 800;
  transition: color 0.5s;
}

.content p {
  color: rgba(0, 0, 0, 0.4);
  font-weight: 600;
}

.footer {
  margin-top: 1rem;
}

.footer a {
  display: flex;
  align-items: center;
  text-decoration: none;

  color: var(--blkColor);
  font-weight: 800;
}

.footer .author-avatar {
  width: 34px;
}

.footer .author {
  font-size: 14px;
  margin-left: 0.8rem;
}
